::ng-deep .form
{
    padding: 20% 0;
    text-align: center;
}

::ng-deep #progress-button
{
    margin-bottom: 20px;
}

::ng-deep #progress-bar-status
{
    display: inline-block;
}

.columnFlexBox
{
    display: flex;
    flex-direction: column;
}

.rowFlexBox
{
    display: flex;
    flex-direction: row;
}

.rowFlexBox
{
    display: flex;
    flex-direction: row;
}

.imageView
{
    margin-bottom: 16px;
    border: 8px black double;
    border-radius: 16px;

    aspect-ratio : 1 / 1;
    width: 100%;
}

::ng-deep .dx-toolbar
{
    background-color: rgba(191, 191, 191, 0.15);
    padding: 5px 10px;
}

::ng-deep .dx-list-item-icon-container,
::ng-deep .dx-toolbar-before
{
    width: 36px;
    padding-right: 0 !important;
    text-align: center;
}

::ng-deep .dx-list-item-content
{
    padding-left: 10px !important;
}

::ng-deep .dx-button
{
    background-color: rgba(191, 191, 191, -0.15);
    border: none;
}

::ng-deep .dx-list.panel-list
{
    height: 400px;
}

::ng-deep .dx-drawer-expand.dx-drawer-right .panel-list
{
    float: right;
}

::ng-deep .panel-list .dx-list-item
{
    color: #fff;
    border-top: 1px solid rgba(221, 221, 221, 0.2);
}

::ng-deep .panel-list .dx-list-item .dx-icon
{
    color: #fff !important;
}

::ng-deep .queue-list-container
{
    background-color: lightgray;
    display: flex;
    height: 200px;
}

::ng-deep .dx-list-slide-menu-button
{
    background-color: red;
}

::ng-deep .queue-list-item
{
    height: 60px;
}

::ng-deep .queue-list-item-true
{
    background-color: lightslategray;
}

::ng-deep .queue-list-item > img
{
    float: left;
    height: 100%;
    width: 65px;
}

::ng-deep .queue-list-item > div
{
    float: left;
    font-size: 15px;
    line-height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: top;
}

::ng-deep .titleDiv
{
    font-style: oblique;
    font-size: 30px;
}

.verticalSlider
{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 50px;
    height: 100%;
    margin-top: 50px;
    margin-bottom: 100px;
    outline: none;
    background : transparent;
}