<dx-toolbar>
  <dxi-item location="before">
    <dx-button icon="menu" (onClick)="toggleSidebar()"></dx-button>
  </dxi-item>
  <dxi-item location="before">
    <dx-button icon="folder" (onClick)="toggleDLNAPopup()"></dx-button>
  </dxi-item>
  <dxi-item location="before">
    <dx-button icon="globe" (onClick)="toggleStreamPopup()"></dx-button>
  </dxi-item>
  <dxi-item>
    <div class="titleDiv">{{currentHeosName}}</div>
  </dxi-item>
  <dxi-item location="after">
    <dx-button icon="clearformat" (onClick)="clearQueue()"></dx-button>
  </dxi-item>
</dx-toolbar>
<dx-drawer id="drawer" template="drawerContent" revealMode="expand" [(opened)]="isDrawerOpen" openedStateMode="overlap">
  <div *dxTemplate="let data of 'drawerContent'" style="width: 200px">
    <dx-list
      class="panel-list dx-theme-accent-as-background-color"
      [dataSource]="navigation"
      [hoverStateEnabled]="false"
      [activeStateEnabled]="true"
      [focusStateEnabled]="false"
      selectionMode="single"
      (onSelectionChanged)="loadDeviceFromEvent($event)"
      height="auto"
    >
    </dx-list>
  </div>
  <div>
    <dx-popup
      [(visible)]="isDLNAPopupVisible"
      [hideOnOutsideClick]="true"
      [showTitle]="true" >
      <div id="dlnaPopup"></div>
      <dxi-toolbar-item
        [options]="dlnaToolbarOptions"
        widget="dxSelectBox">
      </dxi-toolbar-item>
      <dx-data-grid
        id="dlnaDataGrid"
        [allowColumnReordering]="true"
        [dataSource]="dlnaGridData"
        height="inherit"
        (onContentReady)="onContentReady($event)"
        (onContextMenuPreparing)="addMenuItems($event)"
        [showBorders]="true"
        >
        <dxi-column dataField="albumArtist" [groupIndex]="0"></dxi-column>
        <dxi-column dataField="album" [groupIndex]="1"></dxi-column>
        <dxi-column dataField="title"></dxi-column>
        <dxo-load-panel [enabled]="true"></dxo-load-panel>
        <dxo-search-panel [visible]="true"></dxo-search-panel>
        <dxo-group-panel [visible]="true"></dxo-group-panel>
        <dxo-scrolling mode="virtual"></dxo-scrolling>
        <dxo-selection mode="single"></dxo-selection>
        <dxo-sorting mode="none"></dxo-sorting>

        <dxo-toolbar>
          <dxi-item name="groupPanel" location="before"></dxi-item>
          <dxi-item name="searchPanel" location="after"></dxi-item>
          <dxi-item location="after">
            <dx-button icon="refresh" (onClick)="getDLNAServerContent()"></dx-button>
          </dxi-item>
        </dxo-toolbar>
      </dx-data-grid>
    </dx-popup>
    <dx-popup
      [(visible)]="isStreamPopupVisible"
      [hideOnOutsideClick]="true"
      [showTitle]="true" >
      <div id="streamPopup"></div>
      <dxi-toolbar-item
        [options]="streamToolbarOptions"
        widget="dxSelectBox">
      </dxi-toolbar-item>
      <dx-data-grid
        id="streamDataGrid"
        [allowColumnReordering]="true"
        [dataSource]="streamGridData"
        height="inherit"
        (onContentReady)="onContentReady($event)"
        (onContextMenuPreparing)="addStreamMenuItems($event)"
        [showBorders]="true"
        >
        <dxi-column dataField="name"></dxi-column>
        <dxo-load-panel [enabled]="true"></dxo-load-panel>
        <dxo-search-panel [visible]="true"></dxo-search-panel>
        <dxo-group-panel [visible]="true"></dxo-group-panel>
        <dxo-scrolling mode="virtual"></dxo-scrolling>
        <dxo-selection mode="single"></dxo-selection>
        <dxo-sorting mode="none"></dxo-sorting>

        <dxo-toolbar>
          <dxi-item name="searchPanel" location="after"></dxi-item>
          <dxi-item location="after">
            <dx-button icon="refresh" (onClick)="updateStreamServerList()"></dx-button>
          </dxi-item>
        </dxo-toolbar>
      </dx-data-grid>
    </dx-popup>
    <div class="columnFlexBox" style="align-items: center; height: 100%">
      <div class="rowFlexBox" style="align-items: stretch; justify-content: center; width: 100%">
        <div class="columnFlexBox" style="width: 40%;">
          <div class="columnFlexBox">
            <label>{{labelText}}</label>
          </div>
          <div class="columnFlexBox">
            <img class="imageView" [src]="imageSource" alt="No image found :(" onerror="src='assets/folder.jpg'">
          </div>
          <dx-progress-bar
            #progressBar
            id="progress-bar-status"
            width="100%"
            [min]="0"
            [max]="maxValue"
            [statusFormat]="statusFormat"
            [value]="seconds"
          >
          </dx-progress-bar>
          <div class="columnFlexBox" style="align-items: center">
            <div class="rowFlexBox">
              <dx-button
                icon={{repeatIcon}}
                (onClick)="toggleRepeatMode()">
              </dx-button>
              <dx-button
                icon="chevrondoubleleft"
                (onClick)="playPrevious()">
              </dx-button>
              <dx-button
                icon="spinright"
                (onClick)="playPauseToggleButtonClick()">
              </dx-button>
              <dx-button
                icon="chevrondoubleright"
                (onClick)="playNext()">
              </dx-button>
              <dx-button
                icon={{shuffleIcon}}
                (onClick)="toggleShuffle()">
              </dx-button>
              <dx-button
                icon={{muteIcon}}
                (onClick)="toggleMute()">
              </dx-button>
            </div>
          </div>
        </div>
        <div class="columnFlexBox">
          <input class="verticalSlider" type="range" orient="vertical" min="1" max="100" [value]="volumeLevel" (change)="updateVolume($event)" />
        </div>
      </div>
    </div>
  </div>
  <div class="queue-list-container">
    <dx-list #queue
      id="queueList"
      [dataSource]="queueData"
      menuMode="slide"
      (onItemClick)="playFromQueue($event)"
      selectionMode="single" >
      <dxi-menu-item
        text="Remove"
        [action]="removeFromQueue" >
      </dxi-menu-item>
      <dxo-item-dragging
        group="songs"
        [data]="queueData"
        [allowReordering]="true"
        [onDragEnd]="onDragEnd"
        [onDragStart]="onDragStart"
      >
      </dxo-item-dragging>
      <div *dxTemplate="let item of 'item'">
        <div class="queue-list-item queue-list-item-{{item.isCurrent}}">
          <div></div>
          <div>{{item.qid}}</div>
          <img src="{{item.image_url}}" />
          <div>
            <div>{{item.song}}</div>
            <div>{{item.artist}} - {{item.album}}</div>
          </div>
        </div>
      </div>
    </dx-list>
  </div>
</dx-drawer>